@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
$color-primary:#2C2D2E;
h1,h2,h3,h4,h5,h6,p{
    font-family: 'Montserrat', sans-serif;
}

#certificate{
    margin: 0 auto;
    height: 47.5rem;
    width: 130rem;
    text-align: center;
    
    h1{
        font-size: 3.2rem;
        font-weight: 600;
        text-align: center;
        padding-top: 4rem;
        padding-bottom: 4rem;
        span{
            color: #EF7C00;
        }
    }
    .carts{
        width: 100%;
        height: 28.1rem;
        // border-left: 1px solid #717476;
        // border-right: 1px solid #717476;
        div{
            height: 100%;
            display: flex;
            justify-content: center;
        }
    }
}